# General
*.log
.DS_Store
Thumbs.db

# Node.js / npm / yarn / pnpm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
node_modules/
coverage/

# React Native / Expo
.expo/
android/
iOS/
*.jks
*.keystore
launch.json
metro-cache/
stack.log

# TypeScript / Build Outputs
dist/
build/
*.tsbuildinfo

# IDE / Editor specific
.vscode/
.idea/
*.iml
*.env
.env.local
.env.development.
.env.test.
.env.production.

# Testing
*.test.js.snap
*.snap
jest-coverage/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
pagefile.sys
swapfile.sys
hiberfil.sys

# Various IDEs/Editors
.project
.ｏｉｎｔｅｒｎａｌ
.sublime-project
.sublime-workspace
.idea/
